Repository MetaMask/eth-phishing-detect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kumavis, @409H, @FrederikBolding, @MetaMask/application-security

Update config.json (#28162)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Automatically dedupe blocklist on push to main (#17808)
  .github/workflows/auto-cleanup.yml
  src/clean-config.js
  test/config.test.js
Owners: @kumavis, @409H, @FrederikBolding, @MetaMask/application-security

fix hardcoded tolerance in add-hosts initialization of PhishingDetect that is preventing additions to blocklist (#19273)
  src/add-hosts.js
Owners: @kumavis, @409H, @FrederikBolding

Update config.json (#28163)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28165)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28166)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28167)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28168)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28169)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28170)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28171)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28172)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28173)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28174)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28175)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28176)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28177)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28178)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28179)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28180)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

Update config.json (#28181)
  src/config.json
Owners: none

Update config.json
  src/config.json
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*.js                                 @kumavis @409H @FrederikBolding 
*.sh                                 @kumavis @409H @FrederikBolding
package.json                         @kumavis @409H @FrederikBolding
.github/                             @kumavis @409H @FrederikBolding @MetaMask/application-security
test/                                @kumavis @409H @FrederikBolding
